* {
  padding: 0;
  margin: 0rem;
  text-decoration: none;
}

body {
  height: 100vh;
  background-image: url(../images/Rectangle\ 1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0rem 2.5rem;
  background-color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  padding: 1rem;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
}

.login {
  background: none;
  border: 2px solid green;
  padding: 0.8rem;
  width: 6rem;
  border-radius: 0.7rem;
  font-family: Arial, Helvetica, sans-serif;
}

.register {
  background-color: green;
  border: none;
  padding: 0.8rem;
  width: 6rem;
  border-radius: 0.7rem;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  margin-top: 3rem;
}

.img-div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  padding-bottom: 1rem;
}

.company-text span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 1.5rem;
}

.get-started {
  background: green;
  color: white;
  border: none;
  margin-top: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1rem;
  width: 10rem;
  border-radius: 0.7rem;
}

footer {
  background-color: white;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2rem 2.5rem;
}

.bi-list {
  display: none;
}

.bi-x {
  display: none;
}

@media screen and (max-width: 898px) {
  body {
    margin: 0rem 1rem;
    height: 100%;
  }

  nav {
    align-items: center;
  }

  .nav-links {
    background-color: rgb(62, 150, 62);
    position: fixed;
    top: -18rem;
    right: 0;
    left: 0;
    transition: 1s ease;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }

  .nav-links a {
    color: white;
  }

  .bi-x {
    display: unset;
    position: absolute;
    top: 2%;
    right: 2%;
    color: white;
  }

  .nav-links a {
    display: block;
    padding: 0.5rem;
  }

  .login {
    border: 2px solid white;
    color: white;
  }

  .register {
    background-color: white;
    color: green;
  }

  .get-started {
    background-color: rgb(50, 151, 50);
  }

  .bi-list {
    display: unset;
  }

  main {
    display: block;
    gap: 3rem;
    margin-top: 1rem;
  }

  .img-div {
    margin-top: 1rem;
  }

  footer {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 1rem 0rem;
  }

  footer a {
    padding: 1rem;
  }
}
